<div class='ui fluid center aligned container'>
  <br />
  <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/2000px-Spotify_logo_with_text.svg.png' height='201' width='667' />
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>What's on Spotify?</h1>
  <br />
  <br />
  <div class="ui three column center aligned divided relaxed stackable grid container">
    <div class="column">
      <h2>Music</h2>
        <p>
        There are millions of songs on Spotify. 
        Play your favorites, discover new tracks, 
        and build the perfect collection.
        </p>
    </div>
    <div class="column">
      <h2>Playlists</h2>
        <p>
        You’ll find readymade playlists to match your mood, 
        put together by music fans and experts.
        </p>
    </div>
    <div class="column">
      <h2>New Releases</h2>
        <p>
        Hear this week’s latest singles and albums, 
        and check out what’s hot in the Top 50.
        </p>
    </div>
  </div>
</div>
<br />
<br />
<br />
