<div class='ui fluid center aligned container'>
  <br />
  <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/2000px-Spotify_logo_with_text.svg.png' height='300' width='1000' />
  <br />
  <br />

  <div>
    <h1><%= link_to 'Log In',  %></h1>
  </div>

  <div>
    <h1><%= link_to 'Sign Up', %></h1>
  </div>

  <br />
  <br />
</div>