<div class='ui fluid center aligned container'>
  <br />
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Billboard_logo.svg/2000px-Billboard_logo.svg.png" height= '137' width= '500' />
  <br />
  <div class="ui link list">
    <% @billboards.each do |b| %>
      <div class="item">
        <h1><%= link_to b.name, b %></h1>
      </div>
    <% end %>
  </div>
  <br />
  <%= button_to "Create New Billboard", new_billboard_path, method: :get, class: 'ui tiny secondary button' %>
</div>
