<div class="ui three item menu">
  <%= link_to 'Billboards', billboards_path, class: 'item' %>
  <%= link_to 'Home', root_path, class: 'item' %>
  <%= link_to 'Artists', artists_path, class: 'item' %>
</div>
