<div id="menu" class="ui center-aligned container">
  <div class="ui fixed inverted three item menu">
    <%= link_to 'Billboards', billboards_path, class: 'item' %>
    <%= link_to 'Home', root_path, class: 'item' %>
    <%= link_to 'Artists', artists_path, class: 'item' %>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />

